Facebook/itwiki_20180420_100d.pkl/
Facebook/__pycache__/
Facebook/temp.ipynb
Facebook/prova_find_html.py
Facebook/credentials.txt
Facebook/csv_docs/
Facebook/add_column.py
Facebook/video_comments_module.py
Facebook/tests.ipynb
Facebook/prova_commenti.py
Facebook/ocr.ipynb
.vscode/
Facebook/nickprock_sent_trans
Facebook/embeddings.npy
Facebook/radial_hist.ipynb

