scraping_and_text_analysis/Facebook/itwiki_20180420_100d.pkl/
scraping_and_text_analysis/Facebook/__pycache__/
scraping_and_text_analysis/Facebook/temp.ipynb
scraping_and_text_analysis/Facebook/prova_find_html.py
scraping_and_text_analysis/Facebook/credentials.txt
scraping_and_text_analysis/Facebook/csv_docs/
scraping_and_text_analysis/Facebook/add_column.py
scraping_and_text_analysis/Facebook/scraping/video_comments_module.py
scraping_and_text_analysis/Facebook/tests.ipynb
scraping_and_text_analysis/Facebook/prova_commenti.py
scraping_and_text_analysis/Facebook/ocr.ipynb
.vscode/
scraping_and_text_analysis/Facebook/nickprock_sent_trans
scraping_and_text_analysis/Facebook/embeddings.npy
scraping_and_text_analysis/Facebook/radial_hist.ipynb
scraping_and_text_analysis/Facebook/visualizzazioni
scraping_and_text_analysis/Facebook/BERTopic_modelling.ipynb
scraping_and_text_analysis/Facebook/config.json
scraping_and_text_analysis/Facebook/europa_emotions.npy
scraping_and_text_analysis/Facebook/europa_sentiments.npy
scraping_and_text_analysis/Facebook/sindacati_emotions.npy
scraping_and_text_analysis/Facebook/sindacati_sentiments.npy
Interviste
my-progettone

